body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aqua;
  }
  
  #app {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  button {
    background-color: red;
  }
  